body{
	color:white;
	margin:0%;
	box-sizing:border-box;
}

header{
	position:fixed;
	top:0;
	z-index:10;	
	font-family: "Roboto", sans-serif;
	font-optical-sizing: auto;
	font-weight: <weight>;
	font-style: normal;
	font-variation-settings:
    "wdth" 100;
	width:100%;
	background-color:black
}

main{
	box-sizing:border-box;
}

.logo{
	width:160px;
	height:60px;
	margin:0% 0% 0% 3%;
	display:inline-block;
	vertical-align:top
}

nav div{
	display:inline-block;
	vertical-align:top;
	margin:1.3% 0% 0% 2.1%;
	font-weight:bold;
	color:#ECECF6;
	font-size:13px
}

select{
	display:inline-block;
	vertical-align:top;
	margin:0.9% 0% 0% 9%;
	width:16.5%;
	height:25px;
	font-size:11px;
	background-color:black;
	color:#D8D8E1;
	border:2px solid #404040;
}

div h1{
	position:absolute;
	top:25%;
	left:50px;
	color:white;
	font-size:75px;
	left:7%;
}

div p{
	position:absolute;
	top:62%;
	left:50px;
	color:white;
	font-size:16px;
	left:7%;
	width:410px;
}

div button{
	position:absolute;
	top:75%;
	color:white;
	font-size:12px;
	left:7%;
	padding:1%;	
	background-color:black;
	border:0.1px solid grey
}

.font{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.sec1{
	position:sticky;
	top:0px;
	z-index:1;
}

.sec2{
	position:sticky;
	top:0px;
	z-index:2;
}

.sec3{
	position:sticky;
	top:0px;
	z-index:3;
}

.sec4{
	position:sticky;
	top:0px;
	z-index:4;
}

.sec5{
	position:sticky;
	top:0px;
	z-index:5;
}

.sec6{
	position:sticky;
	z-index:5;
}


.div1{
	position:absolute;
	top:15%;
	left:60%;
	font-size:40px;
	width:40%;
	background-color:red;
}

.div2{
	position:absolute;
	top:20%;
	width:80%
}

.h1{
	font-size:45px;
	color:black;
}

.h2{
	color:white;
	font-size:45px;
	width:35%;
	padding:1%
}

.h3{
	font-size:45px;
}

.h4{
	font-size:45px;
	width:30%;
}


.font1{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
   "wdth" 100;
}

.p1{
	top:140px;
	width:59%;
	color:black
}

.p2{
	top:200px;
	left:7%;
	font-size:14px;
	padding:1%
}

.p3{
	top:130px;
	left:6%;
	font-size:14px;
	padding:1%
}

.p4{
	font-size:15px;
	padding:1%;
	left:6%;
	top:48%;
	width:27.5%
}

.p5{
	font-size:15px;
	padding:1%;
	left:6.2%;
	top:130px;
	width:70%
}

.button{
	top:250px;
	padding:2%;
	font-size:10px;
	border:0px solid; 
	border-radius:5px;
}

.button1{
	top:350px;
	padding:1.5%;
	font-size:10px;
	border-radius:5px;
	left:8%
}

.button2{
	top:250px;
	padding:3%;
	font-size:12px;
	border:1px solid grey; 
	border-radius:5px;
}

.button3{
	top:65%;
	padding:1.5%;
	font-size:12px;
	border:1px solid grey; 
	border-radius:5px;
}

.button4{
	top:250px;
	padding:2%;
	font-size:12px;
	border:1px solid grey; 
	border-radius:5px;
}

footer{
	background-color:black;
	box-sizing:border-box;
	padding:0.5%;
	margin-top:-1%
}

.foot{
	width:3%;
	border-radius:30px;
	margin:1% 0% 1% 5%;
	display:inline-block;
}

footer div{
	display:inline-block;
	vertical-align:top;
	margin:2.2% 0% 0% 4%;
	font-size:12px;
}

.mar{
	margin-left:22%;
}

