body{
	color:white;
	margin:0%;
	box-sizing:border-box;
}

header{
	position:fixed;
	top:0;
	z-index : 3;	
	font-family: "Roboto", sans-serif;
	font-optical-sizing: auto;
	font-weight: <weight>;
	font-style: normal;
	font-variation-settings:
    "wdth" 100;
	width:100%;
	background-color:black
}

main{
	box-sizing:border-box;
}

.logo{
	width:160px;
	height:60px;
	margin:0% 0% 0% 3%;
	display:inline-block;
	vertical-align:top
}

nav div{
	display:inline-block;
	vertical-align:top;
	margin:1.3% 0% 0% 2.1%;
	font-weight:bold;
	color:#ECECF6;
	font-size:13px
}

select{
	display:inline-block;
	vertical-align:top;
	margin:0.9% 0% 0% 9%;
	width:16.5%;
	height:25px;
	font-size:11px;
	background-color:black;
	color:#D8D8E1;
	border:2px solid #404040;
}

div h1{
	position:absolute;
	top:25%;
	left:50px;
	color:white;
	font-size:75px;
	left:7%;
}

div p{
	position:absolute;
	top:62%;
	left:50px;
	color:white;
	font-size:16px;
	left:7%;
	width:410px;
}

div button{
	position:absolute;
	top:75%;
	color:white;
	font-size:12px;
	left:7%;
	padding:1%;	
	background-color:black;
	border:0.1px solid grey
}

.font{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.sec1{
	position:sticky;
	top:0px;
	z-index:1;
}

.sec2{
	position:sticky;
	top:0px;
	z-index:2;
}

.sec3{
	position:sticky;
	top:0;
	width:100%;
	height:500px;
	z-index:3;
	background-color:red
}

.div1{
	position:absolute;
	top:15%;
	left:60%;
	font-size:40px;
	width:40%;
	background-color:red
}

.h1{
	color:black;
	font-size:45px;
}

.font1{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
   "wdth" 100;
}

.p1{
	top:140px;
	width:59%;
	color:black
}

.button{
	top:250px;
	padding:2%;
	font-size:10px;
	border:0px solid; 
	border-radius:5px;
}